* {
    box-sizing: border-box;
}
  
html {
    font-family: 'Jost', sans-serif;
}

.top-header .container {
    padding: 5px;
}

.top-header .logo {
    display: flex;
    align-content: center;
    justify-content: left;
}

.top-header .language {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language .language-icon {
    padding: 0 8px;
}

.language-icon {
    opacity: 0.5;
    cursor: pointer;
}

.language .active {
    opacity: 1;
}

.navbar {
    background: #4d779c;
    padding: 10px;
}

.navbar-nav {
    width: 100%;
}

ul.navbar-nav > li:not(:last-child) {
    border-right: 1px solid #ffffff;
}

.navbar ul li {
    width: 16.66%;
}

.navbar .link {
    padding: 0.5rem 1rem;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.navbar .link:hover {
    font-weight: bold;
    transition: 0.3s;
}

.navbar .active {
    font-weight: bold;
}

.footer {
    background: #4d779c;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.copyright a {
    padding: 0.5rem 1rem;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.copyright a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.support {
    background: #1c5c93;
    padding: 50px 0;
}

.support-single {
    text-align: center;
}

.support-single h4 {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.support-single span {
    font-size: 30px;
    color: #ffffff;
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
   
}

/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) { 

}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) { 
    .navbar ul li {
        width: 100%;
        border: none;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {

}