.contact {
    padding-bottom: 30px;
}

.contact-title {
    text-align: center;
    padding-bottom: 30px;
}

.contact-title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #2b5070;
}

.contact-box {
    text-align: center;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding: 30px 0 30px 0;
    margin-bottom: 30px;
    width: 100%;
}

.contact-box i {
    color: #0732f5;
    font-size: 32px;
    padding: 8px;
}

.contact-box h4 {
    color: #2b5070;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
}

.contact-box p {
    color: #2b5070;
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .map {
    width: 100%;
}

.contact-form {
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
}

.contact-form input:focus, .contact-form textarea:focus {
    box-shadow: none;
}
  
#error-name, #error-last-name, #error-email, #error-message, .alert-success {
    display: none;
}

.form-description {
    display: none;
    color:rgba(0,0,0,.55);
}

.contact .active .form-description {
    display: block;
}