.service-background {
    background: url("../slike/servis/servis-pozadina.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.service-background-text {
    background: #808080bf;
}

.service-background-text h1, .service-background-text p {
    padding: 10px;
}

.service .card {
    width: 100%; 
    display: block;
}

.service .card-text {
    margin-bottom: 0px;
    text-align: center;
    font-size: 12pt;
    font-weight: 700;
    color: #5e2828bf;
}